<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>v1.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegServlet</servlet-name>
  	<display-name>RegServlet</display-name>
  	<description></description>
  	<servlet-class>v1.servlet.user.RegServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JspServlet</servlet-name>
  	<display-name>JspServlet</display-name>
  	<description></description>
  	<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValicodeServlet</servlet-name>
  	<display-name>ValicodeServlet</display-name>
  	<description></description>
  	<servlet-class>v1.servlet.user.ValicodeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Info</servlet-name>
  	<display-name>Info</display-name>
  	<description></description>
  	<servlet-class>v1.servlet.user.Info</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegServlet</servlet-name>
  	<url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JspServlet</servlet-name>
  	<url-pattern>/JspServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValicodeServlet</servlet-name>
  	<url-pattern>/ValicodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Info</servlet-name>
  	<url-pattern>/Info</url-pattern>
  </servlet-mapping>
</web-app>
